<h1>課程列表</h1>

<%= link_to "新增課程", new_course_path %>

<table class="table">
  <thead>
    <tr>
      <td>課程名稱</td>
      <td>課程價格</td>
      <td>課程內容描述</td>
      <td>課程網址</td>
      <td>課程期限</td>
      <td>課程狀態</td>
      <td>課程創建時間</td>
      <td>課程更新時間</td>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.price %></td>
      <td><%= course.description %></td>
      <td><%= course.url %></td>
      <td><%= course.duration %></td>
      <td><%= course.status %></td>
      <td><%= course.created_at %></td>
      <td><%= course.updated_at %></td>
      <td>
        <%= link_to "編輯", edit_course_path(course) %>
        <%= link_to "刪除", course_path(course), method: "delete", data: { confirm: "確認刪除" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>