<!DOCTYPE html>
<html>
  <head>
    <title>Mysnapask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to '回首頁', root_path, class:'btn' %>
      <% if current_admin %>
        <%= link_to '管理者登出', destroy_admin_session_path, method: :delete, class:'btn' %>
      <% elsif current_user %>
        <%= link_to '使用者登出', destroy_user_session_path, method: :delete, class:'btn' %>
      <% else %>
        <%= link_to '管理者註冊', new_admin_registration_path, class:'btn' %>
        <%= link_to '管理者登入', new_admin_session_path, class:'btn' %>
        <%= link_to '使用者註冊', new_user_registration_path, class:'btn' %>
        <%= link_to '使用者登入', new_user_session_path, class:'btn' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
